{% extends "layout.html" %}
{% block title %}CSS{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
    {{ super() }}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/css.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
    {{ super() }}

    <div class="container">
	<div class="row">
	    <div class="col-md-10" style="margin-bottom:20px">
                <label for="crate">Crate</label>
                <select id="crate">
                    {% for i in range(-1,20,1) %}
                        {% if i == -1 %}
                            <option  value="{{ i }}">-</option>
                        {% endif %}
                        {% if i != -1 %}
                            <option  value="{{ i }}">{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="slot">Card</label>
                <select id="slot">
                    {% for i in range(-1,18,1) %}
                        {% if i == -1 %}
                            <option  value="{{ i }}">-</option>
                        {% endif %}
                        {% if i != -1 %}
                            <option  value="{{ i }}">{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="channel">Channel</label>
                <select id="channel">
                    {% for i in range(-1,32,1) %}
                        {% if i == -1 %}
                            <option  value="{{ i }}">-</option>
                        {% endif %}
                        {% if i != -1 %}
                            <option  value="{{ i }}">{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 text-right">
                Run lookback
                <select id="limit">
                    {% for i in [-1,10,20,50,100] %}
                        {% if i == -1 %}
                            <option {% if limit == i %}selected="selected" {% endif %}value="{{ i }}">-</option>
                        {% endif %}
                        {% if i != -1 %}
                            <option {% if limit == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <center>
                    <ul class="pager">
                        <li class="previous"><a href="{{ url_for('cssChannel', chan= results.chan-1 ) }}">Prev</a></li>
                        <li><h2 style="display:inline"> Channel {{ results.chan }} </h2></li>
                        <li class="next"><a href="{{ url_for('cssChannel', chan= results.chan+1 ) }}">Next</a></li>
                    </ul>
                    <h4> {{ results.chan }} </h4>
                    <h4> {{ results.chan }} </h4>
                </center>
            </div>
        </div>
    </div>

    <div class="container">
        {% if results.current_chs_status %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Error: "channel failed channel hardware status check" {{ results.current_chs_status }}
            </div>
	{% else %}
        <div>  <h1>High Occupancy</h1>
        <div class="popup" onclick="myFunction()">    <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span class="popuptext" id="myPopup">highOcc = The fraction of PGT events the channel is involved in over the run. </span>
        </div></div>
            <div class="row">
                <div class = "col-md-6">
                    <div id="hist"></div>
                </div>
                <div class = "col-md-6">
                    <div id="myDiv"></div>
                </div>
            </div>
	{% endif %}
    </div>

{% endblock %}

{% block script %}
        {% if not results.current_chs_status %}
            <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
            <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
            <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
            <script src="{{ url_for('static', filename='plotly/plotly-latest.min.js') }}"></script>
            {# <script type="text/javascript", src="https://example.com/MathJax.js?config=TeX-AMS_HTML"></script> #}

            <script>

                var runs= {{  results.runs | tojson }};
                var highOcc = {{  results.highOcc | tojson }};
                var highOccError= {{  results.highOcc_Error | tojson }};

                if( runs.length != highOcc.length){
                    console.log("array lengths are different");
                }

                var data = [
                    {
                        x: runs,
                        y: highOcc,
                        error_y: {
                            type: 'data',
                            array: highOccError,
                            visible: true,
                            thickness: 0.5,
                            width:0
                        },
                        mode: 'markers',
                        type: 'scatter'
                    }
                ];

                var layout = {
                    xaxis: {
                        title: "Run Number"
                    },
                    yaxis: {
                        title: "High Occ"
                    },
                    title:'High Occupancy over time'
                };

                var options = {
                    scrollZoom: true, // lets us scroll to zoom in and out - works
                    showLink: false, // removes the link to edit on plotly - works
                    modeBarButtonsToRemove: ['toImage', 'zoom2d', 'pan', 'pan2d', 'autoScale2d'],
                    //modeBarButtonsToAdd: ['lasso2d'],
                    displayLogo: false, // this one also seems to not work
                    displayModeBar: false, //this one does work
                };
                Plotly.newPlot('myDiv', data,layout,options );


                var binnedData= [
                    {
                        y: highOcc,
                        type: 'histogram',
                        opacity: 0.5,
                        marker: {
                            color: 'pink',
                        },
                    }
                ];
                var layout = {
                    yaxis: {
                        title: "High Occ""
                    }
                    {# , #}
                    {# xaxis: { #}
                    {#     title: "High Occ" #}
                    {# }, #}
                    title:'High Occ values taken'
                };
                Plotly.newPlot('hist',binnedData,layout,options);

                window.onload = function(){
                    var arr = window.location.href.split("/");
                    var currentLCN =arr[arr.length-1];

                    var crate = parseInt((currentLCN-currentLCN%18)/512);
                    var leftover = (currentLCN-512*crate)
                    var slot = parseInt((leftover-leftover%16)/32);
                    var channel= (currentLCN-32*slot-512*crate);

                    document.getElementById("crate").value = crate;
                    document.getElementById("slot").value = slot;
                    document.getElementById("channel").value = channel;
                }


                $("#crate, #slot, #channel").on("change", function() {
                    var params = {};
                    if (document.getElementById("crate").value != -1) {
                        var crate = parseInt(document.getElementById("crate").value);
                    }
                    if (document.getElementById("slot").value != -1) {
                        var slot = parseInt(document.getElementById("slot").value);
                    }
                    if (document.getElementById("channel").value != -1) {
                        var channel = parseInt(document.getElementById("channel").value);
                    }

                    var change = document.getElementById("crate").value != -1 &&
                        document.getElementById("slot").value != -1 &&
                        document.getElementById("channel").value != -1;
                    if (change) {
                        window.location.replace($SCRIPT_ROOT + "/css/" + (512*crate+32*slot+channel));
                    } 
                });

                $("#limit").on("change", function() {
                    document.getElementById("limit").value =this.value;
                    {# alert(window.location.href.split("?")[0]) #}
                    window.location.assign(window.location.href.split("?")[0]+"?lookback=" + this.value );
                    {# window.location.reload(); #}
                    var arr = window.location.href.split("/");
                    var currentLCN =arr[arr.length-1];

                    var crate = parseInt((currentLCN-currentLCN%18)/512);
                    var leftover = (currentLCN-512*crate)
                    var slot = parseInt((leftover-leftover%16)/32);
                    var channel= (currentLCN-32*slot-512*crate);

                    document.getElementById("crate").value = crate;
                    document.getElementById("slot").value = slot;
                    document.getElementById("channel").value = channel;
                });

                // When the user clicks on <div>, open the popup
                function myFunction() {
                    var popup = document.getElementById("myPopup");
                    popup.classList.toggle("show");
                }
                </script>
	{% else %}
	{% endif %}
{% endblock %}
