
{% extends "layout.html" %}
{% block title %} Channel Status {% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block body %}
{{ super() }}

<h1>CSS Landing Page</h1>

<div class="container">
    {% if results.current_chs_status %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Error: "channel failed channel hardware status check" {{ results.current_chs_status }}
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-6" id='highOcc'>
            </div>
            <div class="col-md-6" id='highOcc_1'></div>
        </div>
        <div class="row">
            <div class = "col-md-12">
                <div id="myDiv"></div>
            </div>
        </div>
    {% endif %}
</div>
<div class="col-md-6">
    {# <table id="chiTable" class="table table-hover text-center"> #}
    <table id="chiTable" class="table table-hover">
        <thead>
            <tr>
                <th>Channel</th>
                <th>ChiSquared</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range( results.topChiSqChan|length ) %}
            <tr>
                <td id=\"chiSq_{{i}}\"><a href="{{ url_for('cssChannel', chan= results.topChiSqChan[i] ) }}">{{results.topChiSqChan[i]}}</a></td>
                <td id=\"chiSqVal_{{i}}\"><a href="{{ url_for('cssChannel', chan= results.topChiSqChan[i] ) }}">{{results.topChiSqValues[i]}}</a></td>
                <td><a href="{{ url_for('cssChannel', chan= results.topChiSqChan[i] ) }}"><div id="chiSqGraph_{{results.topChiSqChan[i]}}" style="width: 200px; height: 40px;"></div></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <table id="gradTable" class="table table-hover text-center">
        <thead>
            <tr>
                <th>Channel</th>
                <th>Gradient</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range( results.topGradChan|length ) %}
            <tr>
                <td id=\"grad_{{i}}\"><a href="{{ url_for('cssChannel', chan= results.topGradChan[i] ) }}">{{ results.topGradChan[i]}}</a></td>
                <td id=\"gradVal_{{i}}\"><a href="{{ url_for('cssChannel', chan=  results.topGradChan[i] ) }}">{{results.topGradValues [i]}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
        {% if not results.current_chs_status %}
            <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
            <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
            <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
            <script src="{{ url_for('static', filename='plotly/plotly-latest.min.js') }}"></script>

            <script>
                
            var runs= {{  results.runs | tojson }};
            {%for i in results.ChiHighOcc %}
                var ChiHighOcc = {{  results.ChiHighOcc[i] | tojson }};
                var ChiHighOcc_Error= {{  results.ChiHighOcc_Error[i] | tojson }};

                {# if( runs.length != highOcc.length){ #}
                {#     console.log("array lengths are different"); #}
                {# } #}

                var data = [
                    {
                        x: runs,
                        y: ChiHighOcc,
                        error_y: {
                            type: 'data',
                            array:ChiHighOcc_Error,
                            visible: true,
                            thickness: 0.5,
                            width:0
                        },
                        mode: 'markers',
                        type: 'scatter'
                    }
                ];

                var layout = {
                    xaxis: {
                        visible:true
                        {# visible:false, #}
                        {# title: "Run Number" #}
                    },
                    yaxis: {
                        visible:true
                        {# visible:false, #}
                        {# title: "High Occ" #}
                    },
                    margin: {
                        l: 0,
                        r: 0,
                        b: 0,
                        t: 0,
                        pad: 4
                    }
                    {# title:'High Occupancy over time' #}
                };
                var options = {
                    scrollZoom: true, // lets us scroll to zoom in and out - works
                    showLink: false, // removes the link to edit on plotly - works
                    modeBarButtonsToRemove: ['toImage', 'zoom2d', 'pan', 'pan2d', 'autoScale2d'],
                    //modeBarButtonsToAdd: ['lasso2d'],
                    displayLogo: false, // this one also seems to not work
                    displayModeBar: false, //this one does work
                };
                Plotly.newPlot("chiSqGraph_{{i}}", data,layout,options);
                {# Plotly.newPlot("chiSqGraph_{{i}}", data); #}
            {% endfor %}

            </script>
	{% else %}
	{% endif %}
{% endblock %}
